<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maximum Flow Algorithm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        
        <div class="form-container">
            <h1>Maximum Flow Algorithm</h1>
             <div class="wrapper">
                <div class="location">
                    <input type="text" id="startSearch" placeholder="Search start location" onkeyup="filterNames('start')">
                    <select id="start" name="start">
                        <option value="-1" selected>Please choose start location</option>
                    </select>
    
                    <input type="text" id="destinationSearch" placeholder="Search destination location" onkeyup="filterNames('destination')">
                    <select id="destination" name="destination">
                        <option value="-1" selected>Please choose destination location</option>
                    </select>
                </div>

                <div class="utils">
                    <select id="algorithm" name="algorithm">
                        <option value="-1" selected>Please choose a algorithm</option>
                    </select>

                    <div class="button">
                        <button id='run-button' onclick="getMap()">Find Path</button>
                        <div id="loading-spinner"></div>
                        <button onclick="getMap(1)">Reset Map</button>
                    </div>
                    
                    <div class="data">
                        <span id="max_flow">Maximum Flow: 0 Vehicles/Hour</span><br>
                        <span id="time">Runtime: 0 Seconds</span><br>
                        <label for="apply_sp">
                            <input type="checkbox" id="apply_sp" name="apply_sp" value="1">
                            <span>Apply Shortest Path</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="path-container"></div>

        <div id="map-container">
            <iframe id="map-frame" src="static/default_map.html" width="100%" height="100%" style="border: none;" allowfullscreen></iframe>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
